<template>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <div class="list-group-item">
                    <span click.trigger="back()"><i data-feather="arrow-left-circle"></i></span>
                    <span click.trigger="save()" style="margin-left:5px;"><i data-feather="save"></i></span>
                    <span show.bind="product._id" click.trigger="delete()"><i data-feather="trash-2"></i></span>
                </div>

                <form>
                        <div class="form-group" style="margin-top:20px;">
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" value.bind="product.productName" id="productName"
                                    placeholder="Product Name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" value.bind="product.description" id="description"
                                    placeholder="Description">
                            </div>

                            <div class="form-group">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" value.bind="product.url" id="url" placeholder="URL">
                            </div>
                            <div class="col-1">
                                    <label for="productImage">Image</label><br />
                                <div class="col-1">
                                    <label class="btn btn-primary">
                                        Browse for files&hellip; <input type="file" style="display: none;"
                                            change.delegate="changeImages()" images.bind="images">
                                    </label>
                                </div>
                                <div class="col-10">
                                    <ul>
                                        <li repeat.for="image of imagesToUpload" class="list-group-item">${image.name}<span
                                                click.delegate="removeImage($index)" class="pull-right"></li>
                                    </ul>
                                </div>
                                <div class="card" repeat.for="product of products.productArray">
                                    <div class="card-body">
                                        <div class="row" style="padding:3px;">
                                <div>
                                    <a href="http://localhost:5000/uploadedFiles/helpTickets/${product.image.imageName}" 
                                    target="_blank">${product.image.originalImageName}</a>
                                </div>
                                </div>
                                </div>
                        
                            </div>

                </form>
                <br>
                <button click.trigger="save()">Save</button>
</template>